<nav class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between navbar-expand-lg bg-blueGray-600">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a [routerLink]="['/']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
        <img src="../../../../assets/img/Logo.png" alt="YallaBook Logo" class="logo" width="120">

      </a>
    </div>
    <div class="lg:flex flex-grow items-center" [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning">

      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-white px-3 py-2 flex items-center text-xs uppercase font-bold"
            routerLink="/hotels">
            Hotels
          </a>
        </li>

        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-white px-3 py-2 flex items-center text-xs uppercase font-bold"
            routerLink="/hotels">
            Resterunt
          </a>
        </li>
        
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-white px-3 py-2 flex items-center text-xs uppercase font-bold"
            routerLink="/auth/login">
            Se connecter
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>